@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: ''
}

/* button */
.btn-primary {
    position: relative;
    transition: transform 0.3s ease;
}
.btn-primary:hover {
    transform: translateY(-3px);
}
.card-service {
    position: relative;
    transition: transform 0.3s ease;
}
.card-service:hover {
    transform: translateY(-5px);
}
.grayscale {
    filter: grayscale(100%);
    transition: filter 0,3s ease;
}

.grayscale:hover {
    filter: none;
}